{% load static %}
<footer id="footer" class="footer">
  <!-- Widget Section
    ============================================= -->
  <div class="footer-widget">
    <div class="container">
      <div class="row" style="padding-right: 2%">
        <div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
          <div class="footer--widget-content">
            <img class="mb-20" src="{% static 'images/minilogo.png' %}" alt="logo" />
            <p>
              We invite you to explore our website and learn more about the
              exciting programs and opportunities available at PGS. Thank you
              for considering us for your child's educational journey.
            </p>
            <div class="clearfix"></div>
            <div class="social">
              <a class="share-twitter" href="#"
                ><i class="fa fa-twitter"></i
              ></a>
              <a class="share-facebook" href="https://www.facebook.com/Paakgs"
                ><i class="fa fa-facebook"></i
              ></a>
              <a class="share-linkedin" href="#"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4 footer--widget-contact">
          <div class="footer--widget-title">
            <h5>Get In Touch</h5>
          </div>
          <div class="footer--widget-content">
            <ul class="list-unstyled mb-0">
              <li><i class="fa fa-map-marker"></i>Sargodha, Punjab Pakistan</li>
              <li>
                <i class="fa fa-phone"></i
                ><a href="tel: 0322 6666707" style="color: white"
                  >0322 6666707</a
                >
              </li>
              <li>
                <i class="fa fa-envelope-o"></i
                ><a href="mailto: m.abubakr.191@gmail.com" style="color: white">
                  m.abubakr.191@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- .col-md-4 end -->
      </div>
    </div>
    <!-- .container end -->
  </div>
  <!-- .footer-widget end -->
  <!-- Copyrights
    ============================================= -->
  <div class="footer--copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text--center">
          <span>&copy; 2023, All rights reserved.</span>
        </div>
      </div>
    </div>
    <!-- .container end -->
  </div>
</footer>
